# Environment variables
.env
.env.*

# Virtual environments
venv/
ENV/
.venv/
env/
env.bak/
venv.bak/

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Flask specific
instance/
.webassets-cache

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
pip-wheel-metadata/

# Testing and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/

# Editor/IDE specific
.spyderproject
.spyproject
.ropeproject
.ipynb_checkpoints
profile_default/
ipython_config.py

# Logs and databases
*.log
local_settings.py
db.sqlite3

# C extensions
*.so

# Other
.python-version
celerybeat-schedule
*.sage.py
*.manifest
*.spec